<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="droidninja.filepicker">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".FilePickerDelegate"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".FilePickerActivity" android:theme="@style/Theme.AppCompat.Light.DarkActionBar">

        </activity>
    </application>

</manifest>
